adbc-driver-postgresql==1.4.0
boto3==1.37.2
botocore==1.37.2
pg8000==1.31.2
python-dotenv==1.0.1
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-path==0.3.4
jsonschema-specifications==2024.10.1
